body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

/* for map legend */
.legend {
  padding: 6px 8px;
  background: white;
  background: rgba(255,255,255,0.8);
  line-height: 25px;
  color: #555;
  width: auto;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
